# API Framework
fastapi
uvicorn[standard]
streamlit

# LLM
langchain
langchain-core
langchain-groq

# Agent Workflow
langgraph

# Validation & Settings
pydantic
pydantic-settings

# Environment Variables
python-dotenv

# HTTP Requests
httpx

# Forms / Request Handling
python-multipart

# Web Search
tavily-python

# Tests
pytest
